table {
    border-left: 1px solid #005229;
    border-bottom: 1px solid #005229;
    width: 100%;
    border-collapse: collapse !important;
}

th,
thead td {
    padding: 5px;
    color: #fff;
    border-right: 1px solid #ddd;
    background: #005229;
}

td {
    text-align: center;
    padding: 5px;
    border-right: 1px solid #005229;
}

tr:nth-child(odd) {
    background: rgb(233, 233, 233);
}
